body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}
.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}
.radio-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}
textarea {
  resize: none;
}
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
button {
  font-size: 16px;
  color: white;
  background-color: #4caf50;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.reset-button {
  background-color: #d9534f;
  color: white;
}
input:focus,
textarea {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
